<p id="notice"><%= notice %></p>

<p>
  <strong>Descrição:</strong>
  <%= @coin.description %>
</p>

<p>
  <strong>Sigla:</strong>
  <%= @coin.acronym %>
</p>

<p>
  <strong>Url Image:</strong>
  <%= image_tag @coin.url_image, size: "25" %>
</p>

<%= link_to 'Editar', edit_coin_path(@coin) %> |
<%= link_to 'Mostrar', coins_path %>
